<%= link_to 'Back', pins_path, class: "btn btn-primary" %>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading center">
				<%= image_tag @pin.image.url(:medium) %>
			</div>
			<div class="panel-body center">
	  		<p><%= @pin.description %></p>
	  		<p><strong><%= @pin.user.name if @pin.user %></strong></p>
	  		<p><%= @pin.created_at.strftime("%b %d, %Y") %>

				<p>
					<% if @pin.user == current_user %>
						<%= link_to edit_pin_path(@pin) do %>
							<span class="glyphicon glyphicon-edit"></span>
							Edit
						<% end %>
					<% end %>
				</p>
			</div>
		</div>
	</div>
</div>

